<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///hibernate4</property>
		<!-- 配置Hibernate数据库方言 -->
		<!-- MySQL org.hibernate.dialect.MySQLDialect -->
		<!-- MySQL with InnoDB org.hibernate.dialect.MySQLInnoDBDialect -->
		<!-- MySQL with MyISAM org.hibernate.dialect.MySQLMyISAMDialect -->
		<!-- MySQL5 org.hibernate.dialect.MySQL5Dialect -->
		<!-- MySQL5 with InnoDB org.hibernate.dialect.MySQL5InnoDBDialect -->
		<!-- 注意，这里一定要与你的mysql的版本相匹配，如果是5.0之前的版本，请使用MySQLDialect配套的 -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="format_sql">true</property>
		<property name="show_sql">true</property>
		<!-- 指定自动生成数据表策略 -->
		<!-- 如果使用create，则每次都会生成新的数据表 -->
		<!-- 如果使用create-drop，则每次都会生成新的数据表并且关闭SessionFactory的时候会删除表 -->
		<!-- 如果使用validate，则会校验hbm文件和数据库中的表，如果hbm中的列在数据表中不存在，抛出异常 -->
		<property name="hbm2ddl.auto">update</property>

		<!-- 设置Hibernate事务隔离级别 -->
		<property name="connection.isolation">2</property>
		<mapping resource="cn/edu/shu/hibernate/helloworld/hbm/HelloWorld.hbm.xml" />
		<mapping resource="cn/edu/shu/hibernate/helloworld/hbm/News.hbm.xml" />
	</session-factory>
</hibernate-configuration>
